body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 173, 45);
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
    background-color: #e63636;
    margin-top: 32px;
    padding: 32px;
}

img {
    height: 200px;
}

nav {
    background-color: #8533ff;
    border-bottom: 1px solid #0bd315;
    padding: 16px;
}

nav a {
    color: white;
    font-weight: bold;
}

h1 {
    color: #05f411;
}


a {
    color: #15e402;
    text-decoration: none;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ingredients-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}